# Music Popularity Analysis

<hr style="border:2px solid black"> </hr>

## Notebook 01 - Data Prep

---

### Import libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time

In [2]:
def num_uniques(ser):
    try:
        return len(ser.unique())
    except:
        return "Not unique check-able"

In [3]:
def summarize_df(df):
    print("======DATA SUMMARY======")
    print("{} rows by {} columns".format(df.shape[0], df.shape[1]))
    print("\n======COLUMNS======")
    print(df.dtypes)
    print("\n======PREVIEW======")
    display(df.head())
    print("\n======NUMERICAL COL SUMMARY======")
    print(df.describe())
    print("\n")
    for col in df.columns:
        print("{}: {} unique values".format(col, num_uniques(df[col])))

---
### Import data

In [4]:
# Releases - album info
# Field names from MB website
rel_names = ['release_id', 'release_gid', 'release_name', 'artist_credit_id', 'barcode']
releases = pd.read_csv('../data/mbdump/mbdump/release', delimiter='\t', names=rel_names, usecols=[0, 1, 2, 3,  9])

In [5]:
summarize_df(releases)

======DATA SUMMARY======
3187458 rows by 5 columns

======COLUMNS======
release_id           int64
release_gid         object
release_name        object
artist_credit_id     int64
barcode             object
dtype: object

======PREVIEW======

,release_id,release_gid,release_name,artist_credit_id,barcode
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,60,\N
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,60,\N
2,3257193,6072a02d-e3cb-4f6a-b29c-526e8a0c4873,Kriminaltango et al,1,\N
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,60,\N
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,20211,\N

======NUMERICAL COL SUMMARY======
         release_id  artist_credit_id
count  3.187458e+06      3.187458e+06
mean   1.747545e+06      9.400387e+05
std    9.706914e+05      1.005470e+06
min    1.000000e+00      0.000000e+00
25%    9.272332e+05      5.019100e+04
50%    1.770142e+06      5.247780e+05
75%    2.584914e+06      1.630287e+06
max    3.395452e+06      3.256662e+06


release_id: 3187458 unique values
release_gid: 3187458 unique values
release_name: 2010149 unique values
artist_credit_id: 823692 unique values
barcode: 1207777 unique values

In [6]:
# Artist credit
# Field names from MB website
ac_names = ['artist_credit_id', 'artist_credit_name']
artist_credit = pd.read_csv('../data/mbdump/mbdump/artist_credit', delimiter='\t', names=ac_names, usecols=[0, 1])

In [7]:
summarize_df(artist_credit)

======DATA SUMMARY======
2268032 rows by 2 columns

======COLUMNS======
artist_credit_id       int64
artist_credit_name    object
dtype: object

======PREVIEW======

   artist_credit_id                    artist_credit_name
0            202094                            Ani & Beau
1            485926                    The Ascient Rebels
2           1009634  Charlie Parker feat. Dizzy Gillespie
3            548770                            Dead Blood
4            322256                           Dr. Kreator

======NUMERICAL COL SUMMARY======
       artist_credit_id
count      2.268032e+06
mean       1.809475e+06
std        9.221180e+05
min        1.000000e+00
25%        1.076352e+06
50%        1.899412e+06
75%        2.625079e+06
max        3.256662e+06


artist_credit_id: 2268032 unique values
artist_credit_name: 2155495 unique values

In [8]:
rel_credit = releases.merge(artist_credit, on='artist_credit_id')

In [9]:
summarize_df(rel_credit)

======DATA SUMMARY======
3185994 rows by 6 columns

======COLUMNS======
release_id             int64
release_gid           object
release_name          object
artist_credit_id       int64
barcode               object
artist_credit_name    object
dtype: object

======PREVIEW======

,release_id,release_gid,release_name,artist_credit_id,barcode,artist_credit_name
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,60,\N,Tori Amos
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,60,\N,Tori Amos
2,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,60,\N,Tori Amos
3,3,4c31aef1-177e-4bba-9a56-180e21a0d043,Boys for Pele,60,\N,Tori Amos
4,234,6b0386ee-e412-44a9-8d3c-ad54fe5cbdce,Ultra Rare Tori,60,\N,Tori Amos

======NUMERICAL COL SUMMARY======
         release_id  artist_credit_id
count  3.185994e+06      3.185994e+06
mean   1.747442e+06      9.399492e+05
std    9.706978e+05      1.005442e+06
min    1.000000e+00      1.000000e+00
25%    9.271302e+05      5.015500e+04
50%    1.769956e+06      5.247410e+05
75%    2.584805e+06      1.630081e+06
max    3.395452e+06      3.256662e+06


release_id: 3185994 unique values
release_gid: 3185994 unique values
release_name: 2009308 unique values
artist_credit_id: 823349 unique values
barcode: 1207286 unique values
artist_credit_name: 780027 unique values

In [10]:
rel_credit[rel_credit['release_name'] == 'Vital Signs']

,release_id,release_gid,release_name,artist_credit_id,barcode,artist_credit_name
47160,702201,d2a6cf31-9c5e-4fe1-a267-65e23be3dbc8,Vital Signs,1,9366977747067,Various Artists
307353,1562438,35201e2c-d5c0-48fc-924a-f6463d9f5f9e,Vital Signs,396,827565057207,Survivor
307360,1562430,1a29c9f9-67d7-4dcf-a897-6d9c556720aa,Vital Signs,396,723927521525,Survivor
307366,606919,bda5e69f-780c-43c4-9a05-7f86b66ba584,Vital Signs,396,638592105027,Survivor
307369,1562787,f94ff260-4132-4fdf-8352-707cbe8fc8e8,Vital Signs,396,4988017671917,Survivor
307372,1371042,21ff9062-2f06-4fbf-b730-f7ced922e5c2,Vital Signs,396,074643955781,Survivor
307375,122206,254b347a-6790-4e68-a95d-f5b174e95b62,Vital Signs,396,074643957823,Survivor
307399,1949947,d6c5292f-2ea5-42dc-b7bc-5a77267da9aa,Vital Signs,396,NaN,Survivor
307407,2067922,094c71c3-a284-4a0b-9b4e-2c1dc7c49628,Vital Signs,396,NaN,Survivor
307414,2747396,74459cf9-ef66-4c76-8b88-6fa47a2bc851,Vital Signs,396,4006758473208,Survivor
687568,1514312,6610cf00-326f-4f95-90c7-e44f8365040c,Vital Signs,1947,\N,Skillet
687589,3076308,b1dc5024-f577-4a52-930d-f8cba53008d1,Vital Signs,1947,075678671425,Skillet
970285,383882,469f6675-5240-43bf-a83b-15d390bfe867,Vital Signs,313164,\N,Frank Turner
1197157,801974,d894b3d9-363c-4031-bfa0-563f93a43a96,Vital Signs,24248,\N,Text
1280627,455754,639d259f-d447-41ed-95a7-4a4b235b38a2,Vital Signs,59514,\N,Johnny Fiasco
1385565,289745,d5574230-9ac2-49c4-8e5f-762eac71150d,Vital Signs,198419,\N,Faith Band
1393424,678311,93958cb2-469f-4649-8a96-22f20dc23c77,Vital Signs,301417,\N,Midnight Juggernauts
1469920,1062459,16963261-7179-4ed8-acb0-8072120d080c,Vital Signs,290909,\N,Dr. Hector and the Groove Injectors
1528768,921767,a27844c4-e649-4e81-a370-6883fe940de9,Vital Signs,1018405,092193291426,White Heart
1528771,2523275,9458bb56-43fd-4ba5-b1cb-0a51af142bf8,Vital Signs,1018405,\N,White Heart
1528772,2523276,7b7cf282-22f8-4b1b-a6c5-035c9f2bf149,Vital Signs,1018405,\N,White Heart
1528773,2523281,2f2fe270-21db-4f95-b925-8865cc02c7d0,Vital Signs,1018405,\N,White Heart
1528774,2523288,a2d70d73-8f6b-4ed3-b3e9-9bdb9a4e7a26,Vital Signs,1018405,\N,White Heart
1528796,2523277,6dfa4b9e-540e-4a94-8229-da945f82ae6e,Vital Signs,1018405,075021820142,White Heart
1528797,2523282,843e7988-04ca-4af2-bc9b-ce5b51b3f7f8,Vital Signs,1018405,\N,White Heart
1528798,2523284,f879ac18-51c7-4335-a878-f6bd951613f8,Vital Signs,1018405,092193291426,White Heart
1528799,2523289,024a6a0e-1702-42a9-968f-073c54b633ed,Vital Signs,1018405,669910596623,White Heart
1627003,2594314,5261eb9d-08f5-412f-ab4c-09f396a8670d,Vital Signs,212116,NaN,David Mallett
1894954,794053,5c613774-7fc1-418c-93c0-006bea4ac218,Vital Signs,653064,\N,Tuesday Child
2023571,1546732,3081d841-36ea-4b51-acb8-a9e3bce2dd07,Vital Signs,756467,700261294858,The Revivalists
2023586,2477190,5e0ab2a5-a197-4bed-a0b4-7e7fb2436b3e,Vital Signs,756467,700261294858,The Revivalists
2023588,2798938,14d22767-e818-4b36-a3be-115856b661f0,Vital Signs,756467,601501443923,The Revivalists
2203329,1313726,dd51524d-9e03-4459-97cf-9ef5949873e6,Vital Signs,1090950,8718525010047,Roy Malakian feat. Chris Jones
2719907,2072362,20239f34-f13b-4ace-b442-d7ad05ce3ad4,Vital Signs,2114139,\N,Vital Signs
2779511,2216300,aabb7a81-65a3-440c-9fda-d71950a267a5,Vital Signs,2252652,\N,Plot Scraps
2885625,2496520,35b37ac5-b9c0-49d1-ad46-882a5c2a0dc6,Vital Signs,2494391,\N,We Brought A Penguin
2900081,2582255,b96b9902-1338-4a86-b0ad-bc330d6f36b4,Vital Signs,2155414,4526180036708,Fragment
2920259,2797553,dac34057-182e-478d-bcb2-16293fdd0596,Vital Signs,2787108,195541685028,Vee Mukarati

In [11]:
rel_upc_credit = rel_credit[rel_credit['barcode'].astype(str).apply(len) == 12].drop('artist_credit_id', axis=1)

In [12]:
summarize_df(rel_upc_credit)

======DATA SUMMARY======
628254 rows by 5 columns

======COLUMNS======
release_id             int64
release_gid           object
release_name          object
barcode               object
artist_credit_name    object
dtype: object

======PREVIEW======

,release_id,release_gid,release_name,barcode,artist_credit_name
5,237,e4d198ae-de3a-4cfb-9aae-3561e92ae16a,Crucify,075678586521,Tori Amos
6,519,d759c026-7bbf-4718-868d-ed779bd8447f,God,075678568725,Tori Amos
7,521,e6530f38-a35c-4d3e-b3d9-dfe1e019fdba,Winter,075678588525,Tori Amos
14,3437,e427f8a4-dd77-47bb-a822-9e769d0de7a5,Jackie's Strength,075678416323,Tori Amos
15,3444,1a673525-88cf-31e5-b3ce-a472cec7448e,Silent All These Years,075678300127,Tori Amos

======NUMERICAL COL SUMMARY======
         release_id
count  6.282540e+05
mean   1.711112e+06
std    1.035539e+06
min    1.000000e+00
25%    7.508730e+05
50%    1.761390e+06
75%    2.658136e+06
max    3.395443e+06


release_id: 628254 unique values
release_gid: 628254 unique values
release_name: 414236 unique values
barcode: 586142 unique values
artist_credit_name: 188683 unique values

In [13]:
# Medium

# Field names from MB website
medium_names = ['medium_id', 'release_id']
medium = pd.read_csv('../data/mbdump/mbdump/medium', delimiter='\t', names=medium_names, usecols=[0, 1])

In [14]:
summarize_df(medium)

======DATA SUMMARY======
3539822 rows by 2 columns

======COLUMNS======
medium_id     int64
release_id    int64
dtype: object

======PREVIEW======

   medium_id  release_id
0     288902      288902
1     600623      600623
2     600626      600626
3     600627      600627
4       7716        7716

======NUMERICAL COL SUMMARY======
          medium_id    release_id
count  3.539822e+06  3.539822e+06
mean   1.864473e+06  1.739269e+06
std    1.068518e+06  9.662437e+05
min    1.000000e+00  1.000000e+00
25%    9.371882e+05  9.257842e+05
50%    1.875542e+06  1.759694e+06
75%    2.791744e+06  2.568767e+06
max    3.700246e+06  3.395452e+06


medium_id: 3539822 unique values
release_id: 3159201 unique values

In [15]:
rel_upc_credit_medium = rel_upc_credit.merge(medium, on='release_id', how='left')

In [18]:
summarize_df(rel_upc_credit_medium)

======DATA SUMMARY======
739625 rows by 6 columns

======COLUMNS======
release_id              int64
release_gid            object
release_name           object
barcode                object
artist_credit_name     object
medium_id             float64
dtype: object

======PREVIEW======

,release_id,release_gid,release_name,barcode,artist_credit_name,medium_id
0,237,e4d198ae-de3a-4cfb-9aae-3561e92ae16a,Crucify,075678586521,Tori Amos,237.0
1,519,d759c026-7bbf-4718-868d-ed779bd8447f,God,075678568725,Tori Amos,519.0
2,521,e6530f38-a35c-4d3e-b3d9-dfe1e019fdba,Winter,075678588525,Tori Amos,521.0
3,3437,e427f8a4-dd77-47bb-a822-9e769d0de7a5,Jackie's Strength,075678416323,Tori Amos,3437.0
4,3444,1a673525-88cf-31e5-b3ce-a472cec7448e,Silent All These Years,075678300127,Tori Amos,3444.0

======NUMERICAL COL SUMMARY======
         release_id     medium_id
count  7.396250e+05  7.342060e+05
mean   1.699373e+06  1.825437e+06
std    1.018381e+06  1.124166e+06
min    1.000000e+00  1.000000e+00
25%    7.649700e+05  7.762305e+05
50%    1.737002e+06  1.856844e+06
75%    2.620592e+06  2.852262e+06
max    3.395443e+06  3.700236e+06


release_id: 628254 unique values
release_gid: 628254 unique values
release_name: 414236 unique values
barcode: 586142 unique values
artist_credit_name: 188683 unique values
medium_id: 734207 unique values

In [19]:
# Track

# Field names from MB website
track_names = ['track_id', 'track_gid', 'recording_id', 'medium_id', 'track_name']
track = pd.read_csv('../data/mbdump/mbdump/track', delimiter='\t', names=track_names,
                   usecols=[0, 1, 2, 3, 6])

In [20]:
summarize_df(track)

======DATA SUMMARY======
36870587 rows by 5 columns

======COLUMNS======
track_id         int64
track_gid       object
recording_id     int64
medium_id        int64
track_name      object
dtype: object

======PREVIEW======

,track_id,track_gid,recording_id,medium_id,track_name
0,34228823,9b02977e-a03b-4a6b-a9a9-06e722bdcd7a,428644,3254461,The Ghost of Tom Joad
1,81,43da7544-6283-3159-84f9-537fe823a1a7,11,600623,Five Man Army
2,35831997,0b6b6283-a5a8-4560-9fa8-f68a430d86ea,25849634,3434937,Wonder Girl
3,99,fa124f9a-d8ea-36a3-bed3-c817fdbe13e2,11,600626,Five Man Army
4,108,e56c6d3c-09cf-33a0-81c5-ceade77c35dc,11,600627,Five Man Army

======NUMERICAL COL SUMMARY======
           track_id  recording_id     medium_id
count  3.687059e+07  3.687059e+07  3.687059e+07
mean   1.902471e+07  1.501142e+07  1.764107e+06
std    1.102906e+07  9.452138e+06  1.053328e+06
min    1.000000e+00  5.000000e+00  1.000000e+00
25%    9.425090e+06  6.786869e+06  8.477570e+05
50%    1.903365e+07  1.484385e+07  1.722711e+06
75%    2.859518e+07  2.313009e+07  2.657356e+06
max    3.808780e+07  3.184561e+07  3.700246e+06


track_id: 36870587 unique values
track_gid: 36870587 unique values
recording_id: 26556854 unique values
medium_id: 3567385 unique values
track_name: 14126401 unique values

In [26]:
mb_db_songs = track.merge(rel_upc_credit_medium, on='medium_id')

In [ ]:
# Right join returns 8293338 records - there are some releases that aren't in our track table

In [27]:
summarize_df(mb_db_songs)

======DATA SUMMARY======
8287320 rows by 10 columns

======COLUMNS======
track_id               int64
track_gid             object
recording_id           int64
medium_id              int64
track_name            object
release_id             int64
release_gid           object
release_name          object
barcode               object
artist_credit_name    object
dtype: object

======PREVIEW======

,track_id,track_gid,recording_id,medium_id,track_name,release_id,release_gid,release_name,barcode,artist_credit_name
0,81,43da7544-6283-3159-84f9-537fe823a1a7,11,600623,Five Man Army,600623,1c23ebd1-b28b-3ee2-b7e7-b6e7cc225fd8,Blue Lines,077778622826,Massive Attack
1,80,c50eed88-f571-3293-8ba4-ed64fc50e79f,14,600623,Be Thankful for What You've Got,600623,1c23ebd1-b28b-3ee2-b7e7-b6e7cc225fd8,Blue Lines,077778622826,Massive Attack
2,85,b78014e7-7314-342b-8fa0-a19c733279cb,16,600623,Hymn of the Big Wheel,600623,1c23ebd1-b28b-3ee2-b7e7-b6e7cc225fd8,Blue Lines,077778622826,Massive Attack
3,84,ad762819-bdfe-3e70-94d6-1abcc3da3ebd,17,600623,Lately,600623,1c23ebd1-b28b-3ee2-b7e7-b6e7cc225fd8,Blue Lines,077778622826,Massive Attack
4,82,23aacc6d-f388-37fe-b2fc-e60958ecb572,20,600623,Unfinished Sympathy,600623,1c23ebd1-b28b-3ee2-b7e7-b6e7cc225fd8,Blue Lines,077778622826,Massive Attack

======NUMERICAL COL SUMMARY======
           track_id  recording_id     medium_id    release_id
count  8.287320e+06  8.287320e+06  8.287320e+06  8.287320e+06
mean   1.847097e+07  1.286164e+07  1.708460e+06  1.591214e+06
std    1.153469e+07  9.928375e+06  1.100784e+06  9.986536e+05
min    5.000000e+01  1.000000e+01  1.000000e+00  1.000000e+00
25%    8.017100e+06  3.238586e+06  6.971510e+05  6.830090e+05
50%    1.844082e+07  1.165090e+07  1.665837e+06  1.572764e+06
75%    2.883147e+07  2.136750e+07  2.682131e+06  2.464174e+06
max    3.808758e+07  3.184539e+07  3.700236e+06  3.395443e+06


track_id: 8287320 unique values
track_gid: 8287320 unique values
recording_id: 5774946 unique values
medium_id: 733607 unique values
track_name: 3487300 unique values
release_id: 622389 unique values
release_gid: 622389 unique values
release_name: 411083 unique values
barcode: 580937 unique values
artist_credit_name: 187276 unique values

In [ ]:
# Write out barcodes & full file
mb_db_barcodes = mb_db_songs['barcode'].astype(int).unique()
np.savetxt('mb_db_barcodes.csv', mb_db_barcodes, delimiter=',')
mb_db_songs.to_parquet('mb_db_songs.parquet')